<div class="card text-center">
  <div class="card-header">
    CÔNG TY CỔ PHẦN N C T
  </div>
  <div class="card-body">
    <ul class="text-left">
        <li>Chủ sở hữu website: Ông Nhan Thế Luân</li>
        <li>Giấy phép MXH số 499/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 28/09/2015.</li>
        <li>Giấy Chứng nhận Đăng ký Kinh doanh số 0305535715 do Sở kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 01/03/2008.</li>
    </ul>
    <a href="https://goo.gl/maps/sgeo5wqFbrgUoZcQA" class="btn btn-primary">Tầng 19, Tòa nhà The 678 Tower, Số 67 đường Hoàng Văn Thái, phường Tân Phú, quận 7, TP HCM.</a>
  </div>
</div>